@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    font-family: "Poppins", sans-serif;
}

.btn {
    background: #0c81cf;
    background-image: -webkit-linear-gradient(top, #0c81cf, #136191);
    background-image: -moz-linear-gradient(top, #0c81cf, #136191);
    background-image: -ms-linear-gradient(top, #0c81cf, #136191);
    background-image: -o-linear-gradient(top, #0c81cf, #136191);
    background-image: linear-gradient(to bottom, #0c81cf, #136191);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 50px 300px;
    background-color: rgba(0,0,0,.5);
    border-radius: 9px;
    padding: 20px;
    padding-bottom: 25px;
}

.header {
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
    margin: 30px;
    color: #ffffff;
    margin-bottom: 50px;
    text-shadow: 3px 0 #0c81cf;
    text-align: center;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field input {
    width: 250px;
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.input-field button {
    margin-left: 10px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #fff;
    align-items: center;
}

.hidden {
    display: none;
}

.city-name {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 0 #0c81cf;
}

.temperature {
    font-size: 4rem;
}

.celsius {
    font-size: 50px;
    line-height-step: 180pt;;
}

.weather-img {
    width: 150px;
    height: auto;
}

.opaque-img {
    opacity: 0.5;
}

footer {
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: solid;
}

@media (max-width: 786px) {
    body {
        background: url("images/bg-phone.png");
        background-repeat: no-repeat;
        background-size: 100% 100vh;
    }

    .container {
        margin: 40px 20px;
    }

    .input-field input {
        width: 250px;
    }
}
